
.hidden {
  display: none;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.modal-dialog .modal-content {
  display: inline-grid;
  /* padding-left: 80px; */
  padding: 3.2rem 8rem 3.2rem 10em;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 50px;
  background: grey;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1;
}

.largeButton{
  font-size: large;
}

.numberinput-padding {
  display: inline-block;
  padding: 0.5rem;
}
.priority-input {
  width: 85%;

  border-radius: 0.6rem;
  border: 0.05rem solid;
  border-color: hsl(198, 0%, 55%);
  height: 1.05rem;

}

.priority-0 {
  color: black;
  text-shadow: 0 0 2px black;
}

.priority-1 {
  color: green;
  text-shadow: 0 0 2px black;
}

.priority-2 {
  color: greenyellow;
  text-shadow: 0 0 2px black;
}

.priority-3 {
  color: yellow;
  text-shadow: 0 0 2px black;
}

.priority-4 {
  color: orange;
  text-shadow: 0 0 2px black;
}

.priority-5 {
  color: red;
  text-shadow: 0 0 2px black;
}


.priority-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); /* Replace with desired focus color */
}

.priority-input::-webkit-inner-spin-button,
.priority-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.priority-input::-webkit-inner-spin-button:hover,
.priority-input::-webkit-outer-spin-button:hover {
  cursor: pointer;
}
