
.hidden {
  display: none;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.modal-dialog .modal-content {
  display: inline-grid;
  /* padding-left: 80px; */
  padding: 3.2rem 8rem 3.2rem 10em;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 50px;
  background: grey;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1;
}

.largeButton{
  font-size: large;
}

.card-text {
  flex-grow: 1;
}

.card-text textarea {
  width: 100%;
  height: 100%;
  resize: none; /* Optional: Prevent resizing of the textarea */
}



