<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spacer {
    flex: 1;
  }


</style>


<!-- Toolbar -->

<header>
  <div class="branding">
    <span class="title">Projekt Boards</span>
  </div>
  <div class="nav-divider"></div>


  <div class="header-nav clr-nav-level-1">
    <a *ngFor="let board of (_boards$ | async); let index = index" (click)="showContent(board)" class="nav-link">
      <span class="nav-text">{{board}}</span>
    </a>
  </div>

  <div class="settings">
    <a href="/" class="nav-link nav-icon">
      <cds-icon shape="cog"></cds-icon>
    </a>
  </div>

</header>


<!--<mat-tab-group mat-align-tabs="start">-->
<!--  <mat-tab label="First">Content 1</mat-tab>-->
<!--  <mat-tab label="Second">Content 2</mat-tab>-->
<!--  <mat-tab label="Third">Content 3</mat-tab>-->
<!--</mat-tab-group>-->


<body>

<clr-accordion clrAccordionMultiPanel="true">
  <clr-accordion-panel *ngFor="let task of _tasks$ | async">
    <clr-accordion-title>
      {{task.name}}

<!--      <button-->
<!--        type="button"-->
<!--        class="btn btn-icon"-->
<!--        (click)="_addSubtask($event, task);-->
<!--                                        $event.preventDefault();-->
<!--                                        $event.stopPropagation()"-->
<!--      >-->
<!--        <clr-icon shape="plus"></clr-icon>-->
<!--      </button>-->


    </clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <div cdkDropListGroup>
        <ng-container *ngFor="let state of task.states">

          <div class="example-container">

            <div
              cdkDropList
              [id]="state.state"
              #{{state.state}} = "cdkDropList"
              [cdkDropListData]="state.subtasks"


              (cdkDropListDropped)="drop($event)"
              class="example-list">

              <h2>{{state.state}}</h2>


                <div class="card" *ngFor="let subtask of state.subtasks" cdkDrag>
                  <h3 class="card-header">{{subtask.name}}</h3>
                  <div class="card-block">
                    <h4 class="card-title">{{subtask.worker}}</h4>
                    <div class="card-text">
                        {{subtask.description}}
                    </div>
                  </div>
                  <div class="card-footer">

                  </div>
               </div>
              </div>

          </div>

        </ng-container>

      </div>
    </clr-accordion-content>
  </clr-accordion-panel>

</clr-accordion>

</body>



<div class="modal">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Login / Registrierung</h3>
      </div>
      <div class="modal-body">
        <clr-checkbox-wrapper>
          <label>Neuer User</label>
          <input type="checkbox" name="rememberMe" clrCheckbox (change)="true" #isRegistration/>

        </clr-checkbox-wrapper>
        <p>
        <form [formGroup]="_loginForm"
              (ngSubmit)="_login()"
              *ngIf="!isRegistration.checked"
        >
        <div class="login-group">
          <clr-input-container>
            <label class="clr-sr-only">Email</label>
            <input type="text" name="email" clrInput placeholder="Email" formControlName="email"/>
          </clr-input-container>
          <clr-password-container>
            <label class="clr-sr-only">Password</label>
            <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
          </clr-password-container>

          <!-- Wenn loginform berührt wurde und ungültig ist Fehlermeldung anzeigen-->
          <div *ngIf="_loginForm.invalid && _loginForm.touched" class="error active" >
            Invalid user name or password
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>

        <form [formGroup]="_registrationForm"
              (ngSubmit)="_register()"
              *ngIf="isRegistration.checked"
        >
          <div class="register-group">
            <clr-input-container>
              <label class="clr-sr-only">Username</label>
              <input type="text" name="username" clrInput placeholder="Username" formControlName="username"/>
            </clr-input-container>
            <clr-input-container>
              <label class="clr-sr-only">Email</label>
              <input type="text" name="email" clrInput placeholder="Email" formControlName="email"/>
            </clr-input-container>
            <clr-password-container>
              <label class="clr-sr-only">Password</label>
              <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
            </clr-password-container>

            <clr-password-container *ngIf="isRegistration.checked">
              <label class="clr-sr-only">Password wiederholen</label>
              <input type="password" name="password" clrPassword placeholder="Password Wiederholen" formControlName="password_wdh"/>
            </clr-password-container>

            <!-- Wenn loginform ungültig ist Fehlermeldung anzeigen-->
            <div *ngIf="_loginForm.invalid" class="error active" >
              Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary">Registrieren</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
