<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spacer {
    flex: 1;
  }



</style>

<!-- Toolbar -->

<header>
  <div class="branding">
    <img src="assets/flipchart_weiß.png" alt="Logo" style="padding: 10px;">
    <span class="title">Deine Teamboards</span>
  </div>
  <clr-icon shape="floppy"></clr-icon>
  <div class="nav-divider"></div>


  <div class="header-nav clr-nav-level-1">
    <input
      #input
      clrInput
      type="text"
      placeholder="Add Board"
      (click)="
        input.value = '';
          $event.preventDefault();
          $event.stopPropagation()
          "
      (keydown.enter)="
        _addBoard(input.value);
        input.value = '';
         $event.preventDefault();
        $event.stopPropagation()
        "
      (keydown.space)="
        $event.preventDefault();
        $event.stopPropagation()"
    />
  </div>

  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">

        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a (click)="_logout()" clrDropdownItem>Logout</a>
        <a (click)="_deletUser()" clrDropdownItem>Delete User</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>


<body>

<clr-tabs>
  <clr-tab *ngFor="let board of _boards$ | async">

    <button clrTabLink id=board.name>
      {{board.name}}
      <div class="btn-group btn-icon">
      <button
      type="button"
      class="btn"
      style="font-size: x-large"
      (click)="_deleteBoard(board);
            $event.preventDefault();
            $event.stopPropagation()"
    >
      <b>🗑</b>
    </button>
      <button
        type="button"
        class="btn"
        style="font-size: x-large"
        (click)="_addUserToBoard(board);
            $event.preventDefault();
            $event.stopPropagation()"
      >
        <b>+</b>
      </button>
      <button
        type="button"
        class="btn"
        style="font-size: x-large"
        (click)="_deleteUserFromBoard(board);
            $event.preventDefault();
            $event.stopPropagation()"
      >
        <b>-</b>
      </button>
    </div>
    </button>

    <clr-tab-content id="content1" *clrIfActive>

      <clr-accordion clrAccordionMultiPanel="true">

            <input
              #input
              clrInput
              type="text"
              placeholder="Add new Task"
              (click)="

                                        input.value = '';
                                        $event.preventDefault();
                                        $event.stopPropagation()
                                    "
              (keydown.enter)="
                                        _addTask(input.value, board);
                                        input.value = '';
                                        $event.preventDefault();
                                        $event.stopPropagation()
                                    "
            />

        <clr-accordion-panel *ngFor="let task of board.tasks">
          <clr-accordion-title>
            <form clrForm clrLayout="horizontal">
            <clr-input-container clrLayout="horizontal">
              <label>
                {{task.name}}
              </label>
            <input
              #input
              clrInput
              type="text"
              placeholder="Add new State"
              (click)="

                                        input.value = '';
                                        $event.preventDefault();
                                        $event.stopPropagation()
                                    "
              (keydown.enter)="
                                        _addState(board, task, input.value);
                                        input.value = '';
                                        $event.preventDefault();
                                        $event.stopPropagation()
                                    "

            />
            </clr-input-container>
            </form>
          </clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>

            <div cdkDropList cdkDropListOrientation="horizontal" [id]="task.name" #{{task.name}} = "cdkDropList"
                 [cdkDropListData]="task.states" (cdkDropListDropped)="dropState($event, board, task)">


            <div cdkDropListGroup>
              <div *ngFor="let state of task.states" cdkDrag style="display: inline-block">

                <div class="example-container">

                  <div
                    cdkDropList
                    [id]="state.state"
                    #{{state.state}} = "cdkDropList"
                    [cdkDropListData]="state.subtasks"
                    (cdkDropListDropped)="drop($event, board, task, state)"
                    class="example-list">
                    <div style="display: inline-flex">
                      <h4>
                        {{state.state}}
                      </h4>
                        <input
                          #input
                          clrInput
                          type="text"
                          placeholder="Add new Subtask"
                          (click)="

                                        input.value = '';
                                        $event.preventDefault();
                                        $event.stopPropagation()
                                    "
                          (keydown.enter)="
                                        _addSubtask(board, task, state, input.value);
                                        input.value = '';
                                        $event.preventDefault();
                                        $event.stopPropagation()
                                    "

                        />

                        <!--                      //todo: spacer-->

                        <button
                          type="button"
                          class="btn"
                          (click)="_deleteState(board, task, state);
                                        $event.preventDefault();
                                        $event.stopPropagation()"
                        >
                          🗑
                        </button>

                    </div>




                    <div class="card" *ngFor="let subtask of state.subtasks" cdkDrag>
                      <h3 class="card-header">{{subtask.name}}</h3>
                      <div class="card-block">
                        <div class="card-title">

<!--                          {{subtask.description}}-->
                        </div>
                        <div class="card-text">
<!--                          <button type="button"-->
<!--                                  class="btn"-->
<!--                          (click)="openModal">-->
<!--                            DESCRIPTION-->
<!--                          </button>-->
<!--                          <textarea clrTextarea #textArea [value]=subtask.description (change)="changeDescription(board, task, state, subtask, textArea.value)"></textarea>-->
                        </div>
                      </div>
                      <div class="card-footer">
                        <span class="label label-info">
                            {{subtask.worker}}
                        </span>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>
            </div>
          </clr-accordion-content>
        </clr-accordion-panel>

      </clr-accordion>
    </clr-tab-content>
  </clr-tab>

</clr-tabs>






</body>



<div class="modal" id="modalLoggin">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Login / Registrierung</h3>
      </div>
      <div class="modal-body">
        <clr-checkbox-wrapper>
          <label>Neuer User</label>
          <input type="checkbox" name="rememberMe" (change)="true" clrCheckbox  #isRegistration/>

        </clr-checkbox-wrapper>
        <p>
        <form [formGroup]="_loginForm"
              (ngSubmit)="_login()"
              *ngIf="!isRegistration.checked"
        >
        <div class="login-group">
          <clr-input-container>
            <label class="clr-sr-only">Email</label>
            <input type="text" name="email" clrInput placeholder="Email" formControlName="email"/>
          </clr-input-container>
          <clr-password-container>
            <label class="clr-sr-only">Password</label>
            <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
          </clr-password-container>

          <!-- Wenn loginform berührt wurde und ungültig ist Fehlermeldung anzeigen-->
          <div *ngIf="_loginForm.invalid && _loginForm.touched" class="error active" >
            Invalid user name or password
          </div>
          <button [clrLoading]="_createButtonState" type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>

        <form [formGroup]="_registrationForm"
              (ngSubmit)="_register()"
              *ngIf="isRegistration.checked"
              [clrLoading]="_createButtonState"
        >
          <div class="register-group">
            <clr-input-container>
              <label class="clr-sr-only">Username</label>
              <input type="text" name="username" clrInput placeholder="Username" formControlName="name"/>
            </clr-input-container>
            <clr-input-container>
              <label class="clr-sr-only">Email</label>
              <input type="text" name="email" clrInput placeholder="Email" formControlName="email"/>
            </clr-input-container>
            <clr-input-container>
              <label class="clr-sr-only">Email</label>
              <input type="text" name="email" clrInput placeholder="Email" formControlName="email"/>
            </clr-input-container>
            <clr-password-container>
              <label class="clr-sr-only">Password</label>
              <input type="password" name="password" clrPassword placeholder="Password" formControlName="pwd"/>
            </clr-password-container>

            <clr-password-container *ngIf="isRegistration.checked">
              <label class="clr-sr-only">Password wiederholen</label>
              <input type="password" name="password" clrPassword placeholder="Password Wiederholen" formControlName="pwd_wdh"/>
            </clr-password-container>

            <!-- Wenn loginform ungültig ist Fehlermeldung anzeigen-->
            <div *ngIf="_loginForm.invalid" class="error active" >
              Invalid user name or password
            </div>
            <button [clrLoading]="_createButtonState" type="submit" class="btn btn-primary">Registrieren</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
